/* CSS declarations go here */
body {
    /*font-family: sans-serif;*/
    font-family: 'Microsoft JhengHei','Heiti TC','WenQuanYi Zen Hei', Helvetica;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;
   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
    padding: 0;
    padding-top: 3%;
    margin: 0;
   
    font-size: 14px;
    word-break: break-all;;
}
 
.container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-bottom: 1em;
    min-height: 100%;
    background: white;
}
 
header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 2.5% 2% 0% 2.5%;
    position: relative;
    font-size: 1.5em;
}

.accountwrapper {
    text-align: right;
    padding-bottom: 5px;
}
 
#login-buttons {
    display: block;
}
 
h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    /*position: relative;*/
    margin-top: 8px;
    background: #d2edf4;
    padding-top: 5px;
    padding-left: 5px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 1px 1px #000000;
    background-clip: padding-box;
}
 
.form-label {
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 0px 1px 1px #000000;
    background-clip: padding-box;
    background-image: linear-gradient(to bottom, #f288c4, #d288c4 100%);
    color: white;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
}

.new-topic input,textarea {
    box-sizing: border-box;
    padding: 5px 0px;
    /*background: transparent;*/
    background: #d2ede4;
    border: 1;
    width: 99%;
    font-size: 1em;
    margin-bottom: 5px;
}
 
.new-topic input:focus{
    outline: 1;
}

.new-button {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    background-image: linear-gradient(to bottom, #7fbcff, #0da7ff 100%);
    border-radius: 10px;
    box-shadow: 0px 1px 1px #000000;
    background-clip: padding-box;
}
 
ol {
    margin: 0;
    padding: 0;
    background: white;
}
 
.buttongroup {
    float: right;
}

.noborderbutton {
    border: none;
    background: none;
    vertical-align:top;
    margin-left: 5px;
}

.opacity {
    opacity:0.3;
}
 
li {
    position: relative;
    list-style: inside upper-roman;
    padding: 15px;
    border-bottom: #eee solid 1px;
}
 
li .text {
    margin-left: 10px;
}
 
li.checked {
    color: #888;
}
 
li.checked .text {
    text-decoration: line-through;
}
 
li.private {
    background: #eee;
    border-color: #ddd;
}
 
header .hide-completed {
    float: right;
}
 
.toggle-private {
    margin-left: 5px;
}

.test {
    /*background: transparent;*/
    /*opacity:0.1;*/
}
 
@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
 
    .search {
        width: 150px;
        clear: both;
    }
 
    .new-topic input {
        padding-bottom: 5px;
    }
}

/* Below is all for React-Bootstrap component */
.badge {
display:inline-block;
min-width:10px;
padding:3px 7px;
font-size:12px;
font-weight:700;
line-height:1;
color:#fff;
text-align:center;
white-space:nowrap;
vertical-align:middle;
/*background-color:DarkOrange;*/
background-color: #6475AB;
border-radius:10px
}

.badge:empty {
display:none
}

.tooltip {
position:absolute;
max-width:276px;
z-index:1070;
display:block;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:12px;
font-style:normal;
font-weight:400;
line-height:1.42857143;
text-align:left;
text-align:start;
text-decoration:none;
text-shadow:none;
text-transform:none;
letter-spacing:normal;
word-break:break-all;
word-spacing:normal;
word-wrap:normal;
white-space:normal;
filter:alpha(opacity=0);
opacity:0;
line-break:auto
}

.tooltip.in {
filter:alpha(opacity=90);
opacity:.9
}

.tooltip.top {
padding:5px 0;
margin-top:-3px
}

.tooltip.right {
padding:0 5px;
margin-left:3px
}

.tooltip.bottom {
padding:5px 0;
margin-top:3px
}

.tooltip.left {
padding:0 5px;
margin-left:-3px
}

.tooltip-inner {
max-width:200px;
padding:3px 8px;
color:#fff;
text-align:center;
background-color:#000;
border-radius:4px
}

.tooltip-arrow {
position:absolute;
width:0;
height:0;
border-color:transparent;
border-style:solid
}

.tooltip.top .tooltip-arrow {
bottom:0;
left:50%;
margin-left:-5px;
border-width:5px 5px 0;
border-top-color:#000
}

.tooltip.top-left .tooltip-arrow {
right:5px;
bottom:0;
margin-bottom:-5px;
border-width:5px 5px 0;
border-top-color:#000
}

.tooltip.top-right .tooltip-arrow {
bottom:0;
left:5px;
margin-bottom:-5px;
border-width:5px 5px 0;
border-top-color:#000
}

.tooltip.right .tooltip-arrow {
top:50%;
left:0;
margin-top:-5px;
border-width:5px 5px 5px 0;
border-right-color:#000
}

.tooltip.left .tooltip-arrow {
top:50%;
right:0;
margin-top:-5px;
border-width:5px 0 5px 5px;
border-left-color:#000
}

.tooltip.bottom .tooltip-arrow {
top:0;
left:50%;
margin-left:-5px;
border-width:0 5px 5px;
border-bottom-color:#000
}

.tooltip.bottom-left .tooltip-arrow {
top:0;
right:5px;
margin-top:-5px;
border-width:0 5px 5px;
border-bottom-color:#000
}

.tooltip.bottom-right .tooltip-arrow {
top:0;
left:5px;
margin-top:-5px;
border-width:0 5px 5px;
border-bottom-color:#000
}

.popover {
position:absolute;
top:0;
left:0;
z-index:1060;
display:none;
max-width:276px;
padding:1px;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:14px;
font-style:normal;
font-weight:400;
line-height:1.42857143;
text-align:left;
text-align:start;
text-decoration:none;
text-shadow:none;
text-transform:none;
letter-spacing:normal;
word-break:break-all;
word-spacing:normal;
word-wrap:normal;
white-space:normal;
background-color:#fff;
-webkit-background-clip:padding-box;
background-clip:padding-box;
border:1px solid #ccc;
border:1px solid rgba(0,0,0,.2);
border-radius:6px;
-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
box-shadow:0 5px 10px rgba(0,0,0,.2);
line-break:auto
}

.popover.top {
margin-top:-10px
}

.popover.right {
margin-left:10px
}

.popover.bottom {
margin-top:10px
}

.popover.left {
margin-left:-10px
}

.popover-title {
padding:8px 14px;
margin:0;
font-size:14px;
background-color:#f7f7f7;
border-bottom:1px solid #ebebeb;
border-radius:5px 5px 0 0
}

.popover-content {
padding:9px 14px
}

.popover>.arrow,.popover>.arrow:after {
position:absolute;
display:block;
width:0;
height:0;
border-color:transparent;
border-style:solid
}

.popover>.arrow {
border-width:11px
}

.popover>.arrow:after {
content:"";
border-width:10px
}

.popover.top>.arrow {
bottom:-11px;
left:50%;
margin-left:-11px;
border-top-color:#999;
border-top-color:rgba(0,0,0,.25);
border-bottom-width:0
}

.popover.top>.arrow:after {
bottom:1px;
margin-left:-10px;
content:" ";
border-top-color:#fff;
border-bottom-width:0
}

.popover.right>.arrow {
top:50%;
left:-11px;
margin-top:-11px;
border-right-color:#999;
border-right-color:rgba(0,0,0,.25);
border-left-width:0
}

.popover.right>.arrow:after {
bottom:-10px;
left:1px;
content:" ";
border-right-color:#fff;
border-left-width:0
}

.popover.bottom>.arrow {
top:-11px;
left:50%;
margin-left:-11px;
border-top-width:0;
border-bottom-color:#999;
border-bottom-color:rgba(0,0,0,.25)
}

.popover.bottom>.arrow:after {
top:1px;
margin-left:-10px;
content:" ";
border-top-width:0;
border-bottom-color:#fff
}

.popover.left>.arrow {
top:50%;
right:-11px;
margin-top:-11px;
border-right-width:0;
border-left-color:#999;
border-left-color:rgba(0,0,0,.25)
}

.popover.left>.arrow:after {
right:1px;
bottom:-10px;
content:" ";
border-right-width:0;
border-left-color:#fff
}

.btn {
display:inline-block;
padding:6px 12px;
margin-bottom:0;
font-size:14px;
font-weight:400;
line-height:1.42857143;
text-align:center;
white-space:nowrap;
/*vertical-align:middle;*/
-ms-touch-action:manipulation;
touch-action:manipulation;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
background-image:none;
border:1px solid transparent;
border-radius:4px
}

.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus {
outline:thin dotted;
outline:5px auto -webkit-focus-ring-color;
outline-offset:-2px
}

.btn.focus,.btn:focus,.btn:hover {
color:#333;
text-decoration:none
}

.btn.active,.btn:active {
background-image:none;
outline:0;
-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
cursor:not-allowed;
filter:alpha(opacity=65);
-webkit-box-shadow:none;
box-shadow:none;
opacity:.65
}

a.btn.disabled,fieldset[disabled] a.btn {
pointer-events:none
}

.btn-default {
color:#333;
background-color:#fff;
border-color:#ccc
}

.btn-default.focus,.btn-default:focus {
color:#333;
background-color:#e6e6e6;
border-color:#8c8c8c
}

.btn-default:hover {
color:#333;
background-color:#e6e6e6;
border-color:#adadad
}

.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default {
color:#333;
background-color:#e6e6e6;
border-color:#adadad
}

.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover {
color:#333;
background-color:#d4d4d4;
border-color:#8c8c8c
}

.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default {
background-image:none
}

.btn-default.disabled.focus,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled].focus,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {
background-color:#fff;
border-color:#ccc
}

.btn-default .badge {
color:#fff;
background-color:#333
}

.btn-primary {
color:#fff;
background-color:#337ab7;
border-color:#2e6da4
}

.btn-primary.focus,.btn-primary:focus {
color:#fff;
background-color:#286090;
border-color:#122b40
}

.btn-primary:hover {
color:#fff;
background-color:#286090;
border-color:#204d74
}

.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary {
color:#fff;
background-color:#286090;
border-color:#204d74
}

.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover {
color:#fff;
background-color:#204d74;
border-color:#122b40
}

.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary {
background-image:none
}

.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {
background-color:#337ab7;
border-color:#2e6da4
}

.btn-primary .badge {
color:#337ab7;
background-color:#fff
}

.btn-success {
color:#fff;
background-color:#5cb85c;
border-color:#4cae4c
}

.btn-success.focus,.btn-success:focus {
color:#fff;
background-color:#449d44;
border-color:#255625
}

.btn-success:hover {
color:#fff;
background-color:#449d44;
border-color:#398439
}

.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success {
color:#fff;
background-color:#449d44;
border-color:#398439
}

.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-toggle.btn-success.focus,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover {
color:#fff;
background-color:#398439;
border-color:#255625
}

.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success {
background-image:none
}

.btn-success.disabled.focus,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled].focus,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover {
background-color:#5cb85c;
border-color:#4cae4c
}

.btn-success .badge {
color:#5cb85c;
background-color:#fff
}

.btn-info {
color:#fff;
background-color:#5bc0de;
border-color:#46b8da
}

.btn-info.focus,.btn-info:focus {
color:#fff;
background-color:#31b0d5;
border-color:#1b6d85
}

.btn-info:hover {
color:#fff;
background-color:#31b0d5;
border-color:#269abc
}

.btn-info.active,.btn-info:active,.open>.dropdown-toggle.btn-info {
color:#fff;
background-color:#31b0d5;
border-color:#269abc
}

.btn-info.active.focus,.btn-info.active:focus,.btn-info.active:hover,.btn-info:active.focus,.btn-info:active:focus,.btn-info:active:hover,.open>.dropdown-toggle.btn-info.focus,.open>.dropdown-toggle.btn-info:focus,.open>.dropdown-toggle.btn-info:hover {
color:#fff;
background-color:#269abc;
border-color:#1b6d85
}

.btn-info.active,.btn-info:active,.open>.dropdown-toggle.btn-info {
background-image:none
}

.btn-info.disabled.focus,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled].focus,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info.focus,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover {
background-color:#5bc0de;
border-color:#46b8da
}

.btn-info .badge {
color:#5bc0de;
background-color:#fff
}

.btn-warning {
color:#fff;
background-color:#f0ad4e;
border-color:#eea236
}

.btn-warning.focus,.btn-warning:focus {
color:#fff;
background-color:#ec971f;
border-color:#985f0d
}

.btn-warning:hover {
color:#fff;
background-color:#ec971f;
border-color:#d58512
}

.btn-warning.active,.btn-warning:active,.open>.dropdown-toggle.btn-warning {
color:#fff;
background-color:#ec971f;
border-color:#d58512
}

.btn-warning.active.focus,.btn-warning.active:focus,.btn-warning.active:hover,.btn-warning:active.focus,.btn-warning:active:focus,.btn-warning:active:hover,.open>.dropdown-toggle.btn-warning.focus,.open>.dropdown-toggle.btn-warning:focus,.open>.dropdown-toggle.btn-warning:hover {
color:#fff;
background-color:#d58512;
border-color:#985f0d
}

.btn-warning.active,.btn-warning:active,.open>.dropdown-toggle.btn-warning {
background-image:none
}

.btn-warning.disabled.focus,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled].focus,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning.focus,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover {
background-color:#f0ad4e;
border-color:#eea236
}

.btn-warning .badge {
color:#f0ad4e;
background-color:#fff
}

.btn-danger {
color:#fff;
background-color:#d9534f;
border-color:#d43f3a
}

.btn-danger.focus,.btn-danger:focus {
color:#fff;
background-color:#c9302c;
border-color:#761c19
}

.btn-danger:hover {
color:#fff;
background-color:#c9302c;
border-color:#ac2925
}

.btn-danger.active,.btn-danger:active,.open>.dropdown-toggle.btn-danger {
color:#fff;
background-color:#c9302c;
border-color:#ac2925
}

.btn-danger.active.focus,.btn-danger.active:focus,.btn-danger.active:hover,.btn-danger:active.focus,.btn-danger:active:focus,.btn-danger:active:hover,.open>.dropdown-toggle.btn-danger.focus,.open>.dropdown-toggle.btn-danger:focus,.open>.dropdown-toggle.btn-danger:hover {
color:#fff;
background-color:#ac2925;
border-color:#761c19
}

.btn-danger.active,.btn-danger:active,.open>.dropdown-toggle.btn-danger {
background-image:none
}

.btn-danger.disabled.focus,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled].focus,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover {
background-color:#d9534f;
border-color:#d43f3a
}

.btn-danger .badge {
color:#d9534f;
background-color:#fff
}

.btn-link {
font-weight:400;
color:#337ab7;
border-radius:0
}

.btn-link,.btn-link.active,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link {
background-color:transparent;
-webkit-box-shadow:none;
box-shadow:none
}

.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover {
border-color:transparent
}

.btn-link:focus,.btn-link:hover {
color:#23527c;
text-decoration:underline;
background-color:transparent
}

.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover {
color:#777;
text-decoration:none
}

.btn-group-lg>.btn,.btn-lg {
padding:10px 16px;
font-size:18px;
line-height:1.3333333;
border-radius:6px
}

.btn-group-sm>.btn,.btn-sm {
padding:5px 10px;
font-size:12px;
line-height:1.5;
border-radius:3px
}

.btn-group-xs>.btn,.btn-xs {
padding:1px 5px;
font-size:12px;
line-height:1.5;
border-radius:3px
}

.btn-block {
display:block;
width:100%
}

.btn-block+.btn-block {
margin-top:5px
}