/* CSS declarations go here */
body {
    /*font-family: sans-serif;*/
    font-family: 'Microsoft JhengHei','Heiti TC','WenQuanYi Zen Hei', Helvetica;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;
   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
    padding: 0;
    padding-top: 3%;
    margin: 0;
   
    font-size: 14px;
    word-break: break-all;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-bottom: 1em;
    min-height: 100%;
    background: transparent;
}
 
.container-topic {
    width: 600px;
    /*margin: 0 auto;*/
    margin-bottom: 1em;
    padding-bottom: 1em;
    min-height: 100%;
    background: white;
    float:right;
}

.container-toolbar {
    width: 200px;
    /*margin: 0 auto;*/
    /*margin-bottom: 1em;*/
    padding-bottom: 1em;
    min-height: 100%;
    background: #FAEBD7;
    color: #696969;
    float:left;
}

.searchbox {
    padding: 1em 0 0 0.8em;
}

.forminvokeButton {
    /*height:200px;*/
    /*width:180px;*/
    margin:0 0 0 0.8em;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 2.5% 2% 0% 2.5%;
    position: relative;
    /*font-size: 1.5em;*/
}

header .title {
    font-size: 2em;
}

.switch {
    border:1px solid #ccc;
 /*   width:50px;
    height:26px;*/
    width: 2em;
    height: 1em;
    border-radius:0.8em;
    cursor:pointer;
    display:inline-block;
    background: #6475AB;
    /*float:left;*/
    /*margin-top: 5px;*/
}

.switch-toggle {
    border:1px solid #999;
    /*box-shadow:1px 1px 1px #ccc;*/
/*    width:25px;
    height:24px;*/
    width: 1em;
    height: 0.9em;
    left:0;
    border-radius:0.8em;
    background:#fff;
    position:relative;
    transition:left .1s ease-in-out;
}

.switch.on {
    background:#cde69c;
}

.switch.on .switch-toggle {
    /*left:23px;*/
    left:0.9em;
}

.switch.disabled {
    cursor:not-allowed;
}

.accountwrapper {
    text-align: right;
    float: right;
    /*padding-bottom: 10px;*/
}
 
 
h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    /*position: relative;*/
    margin-top: 8px;
    background: #d2edf4;
    padding-top: 5px;
    padding-left: 5px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 1px 1px #000000;
    background-clip: padding-box;
}
 
.form-label {
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 0px 1px 1px #000000;
    background-clip: padding-box;
    background-image: linear-gradient(to bottom, #f288c4, #d288c4 100%);
    color: white;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
}

.new-topic input,textarea,TagsInput {
    box-sizing: border-box;
    padding: 5px 0px;
    /*background: transparent;*/
    background: #d2ede4;
    border: 1;
    width: 99%;
    font-size: 1em;
    margin-bottom: 5px;
}
 
.new-topic input:focus{
    outline: 1;
}

.new-button {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    background-image: linear-gradient(to bottom, #7fbcff, #0da7ff 100%);
    border-radius: 10px;
    box-shadow: 0px 1px 1px #000000;
    background-clip: padding-box;
}
 
ol, ul {
    margin: 0;
    padding: 0;
    background: white;
}

.detail {
    margin:0 0 0.5em 0;
}

.statistic {
    /*margin:0 0 0 0.5em;*/
    display:block;
    padding: 0 0 5px 5px;
}
 
.buttongroup, .closeModal {
    float: right;
}

.noborderbutton {
    border: none;
    background: none;
    vertical-align:top;
    margin: 0 0 0 5px;
}
 
li {
    position: relative;
    list-style: inside upper-roman;
    padding: 15px;
    border-bottom: #eee solid 1px;
    overflow: auto;
}
 
li .text {
    margin-left: 10px;
}
 
li.checked {
    color: #888;
}
 
li.checked .text {
    text-decoration: line-through;
}
 
li.private {
    background: #eee;
    border-color: #ddd;
}

.imggood {
    width:20px;
    cursor:pointer;
}

.imggood_opacity {
    opacity:0.3;
    width:20px;
    cursor:pointer;
}
 
@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
 
    .search {
        width: 150px;
        clear: both;
    }
 
    .new-topic input {
        padding-bottom: 5px;
    }
}
